:root {
  --font-satoshi: "Satoshi", system-ui, -apple-system, sans-serif;
  --font-erode: "Erode", "Times New Roman", Georgia, serif;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/QOMBWPST76ICDYF6WOBS7SQ7RBT67QW2.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/BKWEE3VKGTFABE37K2DTH625VUSN2N35.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Erode";
  src: url("/fonts/RPYYUUA6FJVWJIL3CQP3LGB33YXVOOUV.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Erode";
  src: url("/fonts/4MK6ECKUA53PDOTLFHJC57TECDKREBGM.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Erode";
  src: url("/fonts/ZBF3ZZ3GCCR43LK2EXPD2RFGU6375GNK.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Erode";
  src: url("/fonts/MKXTPUTQAKGW7BTF5XUNL4CD2SXKU2N2.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Erode";
  src: url("/fonts/2H77JI6FIS3YLKCWOY3B63OWCBV2JTUQ.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 500;
}
